*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.haut{
    width: 100%;
    height: 50px;
    background-color: black;
}
@media screen and (max-width: 576px){
    .haut{
        width: 100%;
        height: 300px;
        background-color: black;
    }
}
@media screen and (max-width: 768px){
    .haut{
        width: 100%;
        height: 300px;
        background-color: black;
    }
}
@media screen and (max-width: 576px){
    .droit ul {
       display: flex;
       flex-direction: column;
      flex-wrap: wrap;
    }
}
@media screen and (max-width: 768px){
    .droit ul{
        display: flex;
        flex-direction: column;
        text-align: center;
     }
}
@media screen and (max-width: 576px){
    .gauche p {
        margin-top: 10px;
      flex-direction: column;

      text-align: center;
    }
}
@media screen and (max-width: 768px){
    .gauche p {
        margin-top: 10px;
        flex-direction: column;
        flex-wrap: wrap;
     }
}
.haut{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}
.droit ,.gauche{
    color: gray;
}
.droit li{
    display: inline-block;
    padding: 25px 25px;
    flex-wrap: wrap;
    flex-direction: row;
}
.gros{
    color: white;
    font-weight: bold;
}
.menu{
    width: 100%;
    height: 80px;
    background-color: white;
    position: relative;
}
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 576px){
    .menu{
        width: 100%;
        height: 600px;
        background-color: white;
        flex-direction: column;
    }
}
@media screen and (max-width: 768px){
    .menu{
        width: 100%;
        height: 600px;
        background-color: white;
        flex-direction: column;
     }
}
.menu .logo{
    width: 100px;
    height: 90px;
}
.liste ul li{
    display: inline-block;
    padding: 25px 25px;
    border: 1px solid grey;
    height: 10px;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
@media screen and (max-width: 576px){
    .liste ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
    }
}
@media screen and (max-width: 768px){
    .liste ul li{
        display: flex;
       flex-direction: column;
       justify-content: center;
       border: none;
     }
}
.icon{
    margin: auto;
}
@media screen and (max-width: 576px){
    .icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
    }
}
@media screen and (max-width: 768px){
    .icon{
        display: flex;
       flex-direction: column;
       justify-content: center;
       border: none;
     }
}
.ion{
    width: 30px;
    height: 30px; 
}
.panier{
    width: 30px;
    height: 30px;
}
.main{
    width: 100%;
    height: 90vh;
    background-image: url(https://www.freshnessmag.com/.image/t_share/MTM1OTkxNjA0MjU1OTc3NDQy/puma---triple-black-pack---0.jpg);
    background-repeat: no-repeat;
    background: rgba(23 34 58 0);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    position: relative;
}
@media screen and (max-width: 576px){
    .main{
        width: 100%;
        height: 60vh;
        background-image: url(https://www.freshnessmag.com/.image/t_share/MTM1OTkxNjA0MjU1OTc3NDQy/puma---triple-black-pack---0.jpg);
        background-repeat: no-repeat;
        background: rgba(23 34 58 0);
        background-position: center;
        background-size: cover;
        object-fit: cover;
        display: flex;
        justify-content: center;
        position: relative;
    }
}
@media screen and (max-width: 768px){
    .main{
        width: 100%;
        height: 60vh;
        background-image: url(https://www.freshnessmag.com/.image/t_share/MTM1OTkxNjA0MjU1OTc3NDQy/puma---triple-black-pack---0.jpg);
        background-repeat: no-repeat;
        background: rgba(23 34 58 0);
        background-position: center;
        background-size: cover;
        object-fit: cover;
        display: flex;
        justify-content: center;
        position: relative;
    }
}
.puma img{
    width: 70px;
    height: 70px;
    margin-top: 60px;
    object-fit: contain;
    position: absolute;
}
.progress{
    width: 80px;
    height: 1px;
    border: 1px solid orangered;
    background-color: orangered;
    position: absolute;
    top: 140px;
    margin-left: 50px;
}
.text{
    position: absolute;
    color: white;
    top: 170px;
    font-size: 30px;
    text-align: center;
}
.paragraphe{
    position: absolute;
    color: gray;
    top: 240px;
    font-size: 20px;
    text-align: center;
}
@media screen and (max-width: 576px){
    .paragraphe p{
       margin-top: 70px;
       display: inline-block;
       flex-wrap: wrap;
       flex-direction: column;
    }
}
@media screen and (max-width: 768px){
    .paragraphe p{
      margin-top: 70px;
      display: inline-block;
      flex-wrap: wrap;
      flex-direction: column;
     }
}
.bouton{
    position: absolute;
    color: gray;
    top: 340px;
    font-size: 15px;
    border: 2px solid gray;
    width: 10%;
    height: 35px;
    margin-top: 30px;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bouton p{
    /* margin-top: 10px; */
    text-align: center;
    color: white;
    padding: 10px 5px 5px 10px;
}
@media screen and (max-width: 576px){
    .bouton {
        margin-top: 50px;
        text-align: center;
        font-size: 15px;
        border: 2px solid gray;
        width: 40%;
        height: 55px;
    }
}
@media screen and (max-width: 768px){
    .bouton {
        margin-top: 50px;
        text-align: center;
        font-size: 15px;
        border: 2px solid gray;
        width: 40%;
        height: 55px;       
     }
}
.boite{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: darkgrey;
    width: 100%;
    height: 290px;
}
.montre{
    width: 40%;
    height: 250px;
    background-color: orangered;
    filter: blur(1px);
}
@media screen and (max-width: 576px){
    .montre{
        width: 100%;
        height: 300px;
        background-color: orangered;
    }
}
@media screen and (max-width: 768px){
    .montre{
        width: 100%;
        height: 300px;
        background-color: orangered;
     }
}
.photo{
    float: right;
    padding-top: 20px;
    filter: blur(0);
}
.airmax{
    width: 40%;
    height: 250px;
    background-color: grey;
    filter: blur(1px);
}
@media screen and (max-width: 576px){
    .airmax{
        width: 100%;
        height: 300px;
        background-color: grey;
    }
}
@media screen and (max-width: 768px){
    .airmax{
        width: 100%;
        height: 300px;
        background-color: grey;
     }
}
.element{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    filter: blur(0);
}
.trait1{
    position: absolute;
    z-index: auto;
   border-top: 1px solid white;
   width: 300px;
   margin-top: 30px;
   margin-left: 130px;
}
@media screen and (max-width: 576px){
    .trait1{
        position: absolute;
        z-index: auto;
       border-top: 1px solid white;
       width: 200px;
       margin-top: 30px;
       margin-left: 119px;
    }
}
@media screen and (max-width: 768px){
    .trait1{
        position: absolute;
        z-index: auto;
       border-top: 1px solid white;
       width: 200px;
       margin-top: 30px;
       margin-left: 119px;
     }
}
.trait2{
    border-bottom: 1px solid white;
    width: 300px;
    margin-top: 170px;
    margin-left: 130px;
    position: absolute;
    z-index: 2;
 }
 @media screen and (max-width: 576px){
    .trait2{
        border-bottom: 1px solid white;
        width: 200px;
        margin-top: 170px;
        margin-left: 120px;
        position: absolute;
        z-index: 2;
     }
}
@media screen and (max-width: 768px){
    .trait2{
        border-bottom: 1px solid white;
        width: 200px;
        margin-top: 170px;
        margin-left: 120px;
        position: absolute;
        z-index: 2;
     }
}
 .trait3{
    border-left: 1px solid white;
    width: 300px;
    height: 140px;
    margin-left: 430px;
    margin-top: 30px;
   position: absolute;
   z-index: 3;
 }
 @media screen and (max-width: 576px){
    .trait3{
        border-left: 1px solid white;
        width: 60px;
        height: 140px;
        margin-left: 320px;
        margin-top: 30px;
       position: absolute;
       z-index: 3;
     }
}
@media screen and (max-width: 768px){
    .trait3{
        border-left: 1px solid white;
        width: 60px;
        height: 140px;
        margin-left: 320px;
        margin-top: 30px;
       position: absolute;
       z-index: 3;
     }
}
 .trait4{
    border-right: 1px solid white;
    width: 130px;
    height: 140px;
    margin-right: 100%;
    margin-top: 30px;
   position: absolute;
   z-index: 4;
 }
 @media screen and (max-width: 576px) {
    .trait4{
        border-right: 1px solid white;
        width: 130px;
        height: 140px;
        margin-right: 100%;
        margin-top: 30px;
       position: absolute;
       z-index: 4;
     }
 }
 @media screen and (max-width: 768px) {
    .trait4{
        border-right: 1px solid white;
        width: 130px;
        height: 140px;
        margin-right: 100%;
        margin-top: 30px;
       position: absolute;
       z-index: 4;
     }
 }
 .text p{
    position: absolute;
    bottom: 40px;
    left: 100px;
 }
 .item{
    float: right;
    padding-top: 20px;
}
 .lesse{
    top: 210px;
    position: absolute;
    left: 50px;
    color: white;
 }
 .shop{
    top: 210px;
    position: absolute;
    left: 50px;
    color: white;
 }
 .pack p{
    position: absolute;
    top: 20px;
    left: 110px;
    text-transform: uppercase;
    color: white;
    font-size: large;
    font-weight: bold;
    line-height: 30px;
    display: flex;
    flex-direction: column;
 }
 @media screen and (max-width: 576px){
    .boite .montre .airmax{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 768px){
    .boite .montre .airmax{
        flex-wrap: wrap;
        flex-direction: column;
     }
}
.blog p{
    position: absolute;
    top: 270px;
    right: 550px;
    text-align: center;
    color: black;
    font-weight: 900;
    display: flex;
    font-size: x-large;
}


